.main-container {
  border: 1px solid black;
  width: 900px;
  height: 900px;
  position: relative;

  .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 900px 900px;
  }

  .background-img {
    background-image: url("../../images/colors-modified.jpg");
  }
  .foreground-img {
    width: 50%;
    background-image: url("../../images/colors.jpg");
    border-right: solid 5px black;
  }

  #slider {
    height: 100%;
    width: 100%;
    position: relative;
    appearance: none;
    border: none;
    background-color: transparent;

    & ::-webkit-slider-thumb {
      appearance: none;
      height: 15px;
      width: 15px;
      border: none;
      background-color: none;
      border-radius: 50%;
    }
  }
}
